<div class="home-header-container">
</div>

<div class="tab-container">
    <div class="tab" ng-class="activeTab1 ? 'active-tab' : 'not-activetab'" ng-click="toggleTab1()">
        <div class="tab-label">
            <h5 ng-class="activeTab1 ? 'active-tab-text' : 'not-active-text'">TAB 1</h5>
        </div>
    </div>
    <div class="tab" ng-class="activeTab2 ? 'active-tab' : 'not-activetab'" ng-click="toggleTab2()">
        <div class="tab-label">
            <h5 ng-class="activeTab2 ? 'active-tab-text' : 'not-active-text'">TAB 2</h5>
        </div>
    </div>
    <div class="tab" ng-class="activeTab3 ? 'active-tab' : 'not-activetab'" ng-click="toggleTab3()">
        <div class="tab-label">
            <h5 ng-class="activeTab3 ? 'active-tab-text' : 'not-active-text'">TAB 3</h5>
        </div>
    </div>
    <div class="tab" ng-class="activeTab4 ? 'active-tab' : 'not-activetab'" ng-click="toggleTab4()">
        <div class="tab-label">
            <h5 ng-class="activeTab4 ? 'active-tab-text' : 'not-active-text'">TAB 4</h5>
        </div>
    </div>
    <div class="tab" ng-class="activeTab5 ? 'active-tab' : 'not-activetab'" ng-click="toggleTab5()">
        <div class="tab-label">
            <h5 ng-class="activeTab5 ? 'active-tab-text' : 'not-active-text'">TAB 5</h5>
        </div>
    </div>
    <div class="tab" ng-class="activeTab6 ? 'active-tab' : 'not-activetab'" ng-click="toggleTab6()">
        <div class="tab-label">
            <h5 ng-class="activeTab6 ? 'active-tab-text' : 'not-active-text'">TAB 6</h5>
        </div>
    </div>
</div>

<div class="content-border">
    hkjhkjhjk
</div>