<!--<div class="home-wrapper">
    <div class="title-banner">

    </div>

</div>
<div class="blank">
</div>


<div class="content">
</div>-->

<div class="home-header-container">


</div>

<div class="tab-container">
    <div class="tab" ng-class="activeTab1 ? 'active-tab' : 'not-activetab'" ng-click="toggleTab1()">
    </div>
    <div class="tab" ng-class="activeTab2 ? 'active-tab' : 'not-activetab'" ng-click="toggleTab2()">
    </div>
    <div class="tab" ng-class="activeTab3 ? 'active-tab' : 'not-activetab'" ng-click="toggleTab3()">
    </div>
    <div class="tab" ng-class="activeTab4 ? 'active-tab' : 'not-activetab'" ng-click="toggleTab4()">
    </div>
    <div class="tab" ng-class="activeTab5 ? 'active-tab' : 'not-activetab'" ng-click="toggleTab5()">
    </div>
    <div class="tab" ng-class="activeTab6 ? 'active-tab' : 'not-activetab'" ng-click="toggleTab6()">
    </div>
</div>

<div class="content-border">
</div>