<div class="home-header-container">
</div>

<div class="tab-container">
    <div ng-repeat="tab in home.tabs" class="tab" ng-class="home.selectedTab === tab.code ? 'active-tab' : ''" ng-click="home.toggleTab(tab.code)">
        <div class="tab-label">
            <h5 ng-class="home.selectedTab === tab.code ? 'active-tab-text' : 'not-active-text'"><span ng-bind-html="tab.icon"></span><span class="tab-text">&nbsp;&nbsp;{{tab.code.toUpperCase()}}</span></h5>
        </div>
    </div>
</div>



<div class="content-border">
    <bio-directive ng-show="home.selectedTab === 'bio'"></bio-directive>
    <!--<gs-directive ng-show="gs"></gs-directive>-->
    <fw-directive ng-show="home.selectedTab === 'fw'"></fw-directive>
    <!--<tc-directive ng-show="tc"></tc-directive>
    <lc-directive ng-show="lc"></lc-directive>
    <ftf-directive ng-show="food"></ftf-directive>
    <blackjack-directive ng-show="blackjack"></blackjack-directive>
    <fit-directive ng-show="fit"></fit-directive>-->
</div>