* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.home-header-container {
    width: 100%;
    height: 50px;
    /*border: 1px solid blue;*/
}

/* TABS */

.tab-container {
    width: 100%;
    height: 70px;
    text-align: center;
    /*margin-bottom: -10px;*/
}

.tab {
    width: 140px;
    height: 100%;
    border: 1px solid #DDD;
    border-bottom: none;
    display: inline-block;
    margin: 1px 3px;
    position: relative;
    z-index: 9;
    background: #FFF;
    cursor: pointer;
    vertical-align: top;
}

.tab-label {
    width: 100%;
    margin-top: 21px;
}

    .tab-label h5 {
        font-weight: 400;
        font-size: 20px;
    }
    
.active-tab {
    border: 1px solid #47A3DA;
    border-top: 3px solid #47A3DA;
    border-bottom: none;
    margin: 1px 3px;
    z-index: 9999;
}

.active-tab-text {
    color: #47A3DA;
    margin-top: -2px;
}

.not-active-text {
    color: #CCC;
}

.content-border {
    width: 100%;
    height: calc(100% - 120px);
    border-top: 1px solid #47A3DA;
    position: relative;
    z-index: 999;
    min-height: 610px;
    /*border: 1px solid red;*/
}

/* BIO VIEW */

.bio-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    /*border: 1px solid red;*/
    /*min-height: 610px;*/
}

.content-container {
    /*border: 1px solid orange;*/
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 756px;
    height: 550px;
}

.rectangle {
    /*margin: 50px 25px 0 25px;*/
    margin: 0 24px 0 0;
    display: inline-block;
    width: 350px;
    height: 550px;
    background: #47A3DA;
    text-align: center;
    vertical-align: top;
    /*border: 1px solid green;*/
}

.bio-img-container {
    border: 7px solid white;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 30px auto 0;
}

    .bio-img-container img {
        width: 100%;
        border-radius: 50%;
    }
    
.text-box {
    margin: 18px auto;
    /*border: 1px solid #FFF;*/
    width: 260px;
    text-align: center;
}

    .text-box h2 {
        font-size: 34px;
        color: #FFF;
        font-weight: 300;
        line-height: 42px;
        cursor: default;
    }
    
    .text-box h4 {
        font-size: 22px;
        color: #FFF;
        font-weight: 300;
        cursor: default;
    }
    
    .text-box h6 {
        font-size: 14px;
        color: #FFF;
        font-weight: 300;
        cursor: default;
        letter-spacing: 0.5px;
    }
    
.social-icons {
    width: 100%;
    text-align: center;
}
    
    .social-icons h5 {
        font-size: 24px;
        color: #FFF;
    }
    
    .social-icons .fa {
        margin: 0 17px 0 17px;
        color: #FFF;
    }
    
.no-fill {
    background: none;
    margin-right: 0px;
}

.sml-rectangle {
    width: 100%;
    height: 263px;
    background: #47A3DA;
    margin: 0 0 24px 0;
    padding-top: 24px;
    float: right;
}

.no-margin {
    margin: 0;
}

.sml-img-container {
    border: 3px solid #FFF;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 0 auto -6px;
    display: inline-block;
}

    .sml-img-container .fa {
        color: #FFF;
        line-height: 82px;
        font-size: 44px;
    }
    
.wide {
    width: 85%;
    margin: 26px auto;
}
    
.text-box h5 {
    font-size: 14px;
    color: #FFF;
    line-height: 22px;
    font-weight: 100;
    letter-spacing: 1px;
    cursor: default;
}

.multiple {
    margin: 0 7px 0 7px;
}

    .multiple img {
        width: 100%;
        border-radius: 50%;
    }
    
/* PROJECT VIEWS */

.proj-container {
    width: 1200px; 
    /*text-align: center;*/
}

.col {
    display: inline-block;
    /*border: 1px solid red;*/
    width: 48%;
    
}

.proj-name {
    width: 90%;
    background: #47A3DA;
    height: 60px;
    text-align: center;
}

    .proj-name h2 {
        color: #FFF;
        line-height: 60px;
        font-size: 40px;
        font-weight: 100;
    }
    
.proj-info {
    margin-top: 20px;
    width: 90%;
    height: 80px;
    background: #47A3DA;  
}

    .proj-info h3 {
        color: #FFF;
        font-weight: 100;
        padding: 10px 10px 0px 20px;
    }

.proj-desc {
    margin-top: 20px;
    width: 90%;
    height: auto;
    background: #47A3DA;  
}

    .proj-desc h3 {
        color: #FFF;
        font-weight: 100;
        padding: 20px;
        line-height: 26px;
    }






/* MEDIA QUERIES */

/* HOME PAGE */

@media (max-width: 1200px){
    
    .tab-container {
        height: 50px;
    }
    
    .tab-label {
        margin-top: 12px;
    }   
    
    .tab {
        width: 100px;
    }
    
    .content-border {
        height: calc(100% - 100px);
    }
}

@media (max-width: 900px){
    
    .tab {
        width: 80px;
    }
    
    .tab-label {
        margin-top: 14px;
    }   
    
    .tab-label h5 {
        font-size: 16px;
    }
}

@media (max-width: 800px){
    
    .content-container {
        width: 95%;
    }
    
    .rectangle {
        width: 49%;
        margin:0;
    }
    
    .sml-rectangle {
        height: 273px;
        margin-bottom: 4px;
    }
}


@media (max-width: 730px){
    
    .tab-text {
        display: none;
    }
    
    .tab-label {
        margin-top: 12px;
    }
    
    .tab-label h5 {
        font-size: 20px;
    }
    
    .tab {
        border: 1px solid #DDD;
    }
    
    .content-border {
        border-top: none;
        height: calc(100% - 150px);
    }
    
    .active-tab {
        border: 1px solid #47A3DA;
        border-top: 1px solid #47A3DA;
        border-bottom: 1px solid #47A3DA;
    }
    
    .home-header-container {
        height: 30px;
    }
    
    .tab-container {
        height: auto;
        width: 375px;
        margin: 0 auto;
    }
    
    .active-tab-text {
        margin-top: 0px;
        line-height: 50px;
    }
    
    .not-active-text {
        margin-top: 0px;
        line-height: 50px;
    }
    
    .tab-label {
        margin-top: 0;
    }
    
    .tab {
        margin-bottom: 8px;
    } 
    
    .sml-img-container {
        width: 77px;
        height: 77px;
    }
    
    .sml-img-container .fa {
        line-height: 70px;
    }
    
}

@media (max-width: 630px){
    
    .content-container {
        position: static;
        margin-top: 10px;
        height: auto;
    }
    
    .content-border {
        position: static;
        height: auto;
    }
    
    .rectangle {
        width: 80%;
        position: static;
    }
    
    .sml-rectangle {
        margin-bottom: 0px;
        margin-top: 20px;
        height: auto;
        position: static;
    }
   
}

@media (max-width: 500px){

    .rectangle {
        width: 90%;
    }
    
    .home-header-container {
        height: 10px;
    }
}

@media (max-width: 380px){
    
    .tab {
        width: 60px;
        height: 55px;
    }
    
    .tab-container {
        width: 285px;
    }
    
    .active-tab-text {
        line-height: 55px;
    }
    
    .not-active-text {
        line-height: 55px;
    }  
    
    .no-margin {
        margin-bottom: 20px;
    }
}

/*  END MEDIA QUERIES HOME */





