* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    position: relative;
}

.home-header-container {
    width: 100%;
    height: 50px;
    /*border: 1px solid blue;*/
}

/* TABS */

.tab-container {
    width: 100%;
    height: 70px;
    text-align: center;
    /*margin-bottom: -10px;*/
}

.tab {
    width: 140px;
    height: 100%;
    border: 1px solid #DDD;
    border-bottom: none;
    display: inline-block;
    margin: 1px 3px;
    position: relative;
    z-index: 9;
    background: #FFF;
    cursor: pointer;
    vertical-align: top;
}

.tab-label {
    width: 100%;
    margin-top: 21px;
}

    .tab-label h5 {
        font-weight: 400;
        font-size: 20px;
    }
    
.active-tab {
    border: 1px solid #47A3DA;
    border-top: 3px solid #47A3DA;
    border-bottom: none;
    margin: 1px 3px;
    z-index: 9999;
}

.active-tab-text {
    color: #47A3DA;
    margin-top: -2px;
}

.not-active-text {
    color: #CCC;
}

.content-border {
    width: 100%;
    height: auto;
    border-top: 1px solid #47A3DA;
    position: relative;
    z-index: 999;
}

/* BIO VIEW */

.bio-wrapper {
    width: 100%;
    text-align: center;
}

.rectangle {
    margin: 50px 25px 0 25px;
    display: inline-block;
    width: 350px;
    height: 500px;
    background: #47A3DA;
    text-align: center;
    vertical-align: top;
}

.bio-img-container {
    border: 7px solid white;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 30px auto 0;
}

    .bio-img-container img {
        width: 100%;
        border-radius: 50%;
    }
    
.text-box {
    margin: 18px auto;
    /*border: 1px solid #FFF;*/
    width: 250px;
    text-align: center;
}

    .text-box h4 {
        font-size: 32px;
        color: #FFF;
        font-weight: 300;
        cursor: default;
    }
    
.social-icons {
    width: 100%;
    text-align: center;
}
    
    .social-icons h5 {
        font-size: 24px;
        color: #FFF;
    }
    
    .social-icons .fa {
        margin: 0 17px 0 17px;
    }
    
.no-fill {
    background: none;
}

.sml-rectangle {
    width: 100%;
    height: 224px;
    background: #47A3DA;
    margin: 0 0 50px 0;
    padding-top: 20px;
}

.sml-img-container {
    border: 3px solid #FFF;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto -6px;
    display: inline-block;
}

    .sml-img-container .fa {
        color: #FFF;
        line-height: 72px;
        font-size: 44px;
    }
    
.wide {
    width: 85%;
}
    
.text-box h5 {
    font-size: 14px;
    color: #FFF;
    font-weight: 100;
    letter-spacing: 1px;
    cursor: default;
}

.multiple {
    margin: 0 7px 0 7px;
}

    .multiple img {
        width: 100%;
        border-radius: 50%;
    }

    









/* MEDIA QUERIES */

/* HOME PAGE */

@media (max-width: 1200px){
    
    .tab-container {
        height: 50px;
    }
    
    .tab-label {
        margin-top: 12px;
    }   
    
    .tab {
        width: 100px;
    }
}

@media (max-width: 900px){
    
    .tab {
        width: 80px;
    }
    
    .tab-label {
        margin-top: 14px;
    }   
    
    .tab-label h5 {
        font-size: 16px;
    }
}

@media (max-width: 730px){
    
    .tab-text {
        display: none;
    }
    
    .tab-label {
        margin-top: 12px;
    }
    
    .tab-label h5 {
        font-size: 20px;
    }
    
    .tab {
        border: 1px solid #DDD;
    }
    
    .content-border {
        border-top: none;
        border: 1px solid red;
    }
    
    .active-tab {
        border: 1px solid #47A3DA;
        border-top: 1px solid #47A3DA;
        border-bottom: 1px solid #47A3DA;
    }
    
    .tab-container {
        height: auto;
        width: 375px;
        /*border: 1px solid green;*/
        margin: 0 auto;
    }
    
    .active-tab-text {
        margin-top: 0px;
        line-height: 50px;
    }
    
    .not-active-text {
        margin-top: 0px;
        line-height: 50px;
    }
    
    .tab-label {
        margin-top: 0;
    }
    
    .tab {
        margin-bottom: 8px;
    } 
}

@media (max-width: 380px){
    
    .tab {
        width: 60px;
        height: 55px;
    }
    
    .tab-container {
        width: 285px;
    }
    
    .active-tab-text {
        line-height: 55px;
    }
    
    .not-active-text {
        line-height: 55px;
    }  
}
